{% assign publications = data.publications %}
{% if publications and publications.display %}
<section class="section publications-section">

    <div class="section-title">
        {{ publications.title }}
    </div>
    
    <p>
    {% for publication in publications.googlescholar %}
    <div class="googlescholar">
        {% if publication.title %}
        <p class="pub-title">
            {% if publication.link %}
            <a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a>
            {% else %}
            {{ publication.title }}
            {% endif %}
        </p>
        {% endif %}
    </div>
    {% endfor %}
    </p>

    {% if publications.intro %}
    <div class="intro">
        {{ publications.intro | markdownify }}
    </div>
    {% endif %}

    <ul>
    {% for publication in publications.items %}    
    <li><div class="item">
        {% if publication.title %}
        <p class="pub-title"> {{ publication.title }} </p>
        {% endif %}

        {% if publication.authors %}
        <div class="pub-authors">{{ publication.authors }}</div>
        {% endif %}

        {% if publication.conference %}
        <div class="pub-conference">{{ publication.conference }}</div>
        {% endif %}
        
        {% if publication.link %}
        <div class="pub-authors"><a href="{{ publication.link }}" target="_blank">{{ publication.link }}</a></div>
        {% endif %}
    </div>
    </li>
    {% endfor %}
    </ul>

</section>
{% endif %}
